<% if User.where("id = ?", session[:user_id]).pluck(:role_id).first != 1 %>
  <% controller.redirect_to 'http://localhost:3000/documents' %>
<% end %>


<div class="container py-5" style="margin-bottom:20px; padding: 3rem 0;">
<p id="notice"><%= notice %></p>

<h1>Document Histories</h1>

<table class = "table-hover table-bordered table-condensed table">
  <thead>
    <tr>
      <th>Document</th>
      <th>Subject</th>
      <th>Received by name</th>
      <th>Received by office</th>
      <th>Received from name</th>
      <th>Received from office</th>
      <th>Length of stay</th>
      <th>Remarks</th>
      <th>Max stay</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @document_histories.each do |document_history| %>
      <tr>
        <td><%= document_history.document_id %></td>
        <td><%= document_history.subject %></td>
        <td><%= document_history.received_by_name %></td>
        <td><%= document_history.received_by_office %></td>
        <td><%= document_history.received_from_name %></td>
        <td><%= document_history.received_from_office %></td>
        <td><%= document_history.length_of_stay %></td>
        <td><%= document_history.remarks %></td>
        <td><%= document_history.max_stay %></td>
        <% link_to 'Show', document_history %>
        <td><%= link_to 'Edit', edit_document_history_path(document_history) %></td>
        <td><%= link_to 'Destroy', document_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
<% link_to 'New Document History', new_document_history_path %>
