      <% registered = UserLogin.count %>
      <% role_count = Role.count %>
      <% if registered == 0 && role_count == 0 %>
        <p>registered = <%= registered %></p>
        <% Role.create(:name => "Administrator", :description => "Person who administers the entire System") %>
        <% Role.create(:name => "Supervisor", :description => "Person who oversees the department assigned") %>
        <% User.create(:username => "Admin", :password => "@dm1n", :role_id => 1) %>
        <% Department.create(:name => "Human Resource Unit") %>
        <% Department.create(:name => "Administrative Unit") %>
        <% Department.create(:name => "Finance Unit") %>
        <% Department.create(:name => "Technical Unit") %>
        <% controller.redirect_to "http://localhost:3000/login" %>
      <% end %>
<div class="row justify-content-center">
  <div class="card" style="width: 18rem; margin:20px;">
    <center>
      <%= image_tag "deped-logo.png", :style => "padding-top:10px", :width => "100px" %>
    </center>
    <div class="card-body">
        <h5 class="card-title">Login</h5>
        <p class="card-text">For Forgotten Password, Please Contact Your Administrator</p>
        <%= form_tag sessions_path do %>
  
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <%= text_field_tag :username, params[:username], :placeholder => "Username", :size => "32", :class=> "form-control" %>
        </div>
      
        <div class="form-group">
          <label for="exampleInputEmail1">Password</label>
          <%= password_field_tag :password, params[:password], :placeholder => "Password", :size => "32", :class=> "form-control"  %>
        </div>
        <center>
          <%= submit_tag "Log In", class: 'btn btn-primary' %>
        </center>
      <% end %>
    </div>
  </div>
</div>
