<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "row">
    <div style="padding-left: 30px">
      <div class="field form-group">
        <%= form.label :username %>
      </div>

      <div class="field form-group">
        <%= form.label :fname %>
      </div>

      <div class="field form-group">
        <%= form.label :lname %>
      </div>

      <div class="field form-group">
        <%= form.label :email %>
      </div>

      <div class="field form-group">
        <%= form.label :password %>
      </div>

      <div class="field form-group">
        <%= form.label :password_confirmation %>
      </div>

      <div class="field form-group">
        <%= form.label "designation" %>
      </div>

      <div class="field form-group">
        <%= form.label :user_id %>
      </div>

      <div class="field form-group">
        <%= form.label :department_id %>
      </div>
    </div>

    <div style="padding-left: 20px">
      <div class="field form-group">
        <%= form.text_field :username %>
      </div>

      <div class="field form-group">
        <%= form.text_field :fname %>
      </div>

      <div class="field form-group">
        <%= form.text_field :lname %>
      </div>

      <div class="field form-group">
        <%= form.text_field :email %>
      </div>

      <div class="field form-group">
        <%= form.password_field :password %>
      </div>

      <div class="field form-group" style="padding-top: 5px">
        <%= form.password_field :password_confirmation %>
      </div>

      <div class="field form-group" style="padding-top: 5px">
        <%= form.collection_select(:role_id, Role.all, :id, :name, :prompt => 'Select Role') %>
      </div>

      <div class="field form-group" style="padding-top: 5px">
        <%= form.collection_select(:user_id, User.all, :id, :fname, :prompt => 'Specify Supervisor') %>
      </div>

      <div class="field form-group" style="padding-top: 5px">
        <%= form.collection_select(:department_id, Department.all, :id, :name, :prompt => 'Specify Department') %>
      </div>
    </div>

  </div>

  <div class="actions">
    <%= form.submit :submit , class: 'btn btn-primary' %>
    <%= link_to 'Back', users_path, { class: 'btn btn-primary'} %>
  </div>


<% end %>
