
	<div class="modal-header">
	  
	  <h4 class="modal-title" id="myModalLabel">ADD USER ACCOUNT</h4>
	  <button type="button" class="close" data-dismiss="modal">x</button>
	</div>
	<div class="modal-body">
		<%= form_with(model: @user, local: true) do |form| %>
		  <% if @user.errors.any? %>
		  	<div id="error_explanation">
		      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

		      <ul>
		      <% user.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
		  <div class = "row">
			  <div style = "width: 100px; padding-left: 10px">
				  <div class="field form-group">
				    <%= form.label :username, :class => "control-label" %>
				  </div>  

				  <div class="field form-group">
				    <%= form.label "First_Name" %>
				  </div>		    

				  <div class="field form-group">
				    <%= form.label "Last_Name" %>
				  </div>

				  <div class="field form-group">
				    <%= form.label :email %>
				  </div>
			  </div>
					
			  <div class ="col-md-2">
				  <div class="field form-group">
				    <%= form.text_field :username %>
				  </div>  

				  <div class="field form-group">
				    <%= form.text_field :fname %>
				  </div>		    

				  <div class="field form-group">
				    <%= form.text_field :lname %>
				  </div>

				  <div class="field form-group">
				    <%= form.text_field :email %>
				  </div>
			  </div>
		  
		  
			  <div style = "padding-left: 120px">
				  <div class="field form-group">
				    <%= form.label :password %>
				    <p id="prompter"></p>
				    <%= form.label "Re-enter" %>
				  </div>  

				  <div class="field form-group">
				    <%= form.label "designation" %>
				  </div>		    

				  <div class="field form-group">
				    <%= form.label "Supervisor" %>
				  </div>

				  <div class="field form-group">
				    <%= form.label :department_id %>
				  </div>
			  </div>
					
			  <div class ="col-md-2">
				  <div class="field form-group">
				    <%= form.password_field :password, :id => "pass_id" %>
				    <p></p>
				    <%= form.password_field :password_confirmation, :placeholder => "Confirm Password", :id => "conf_pass_id" %>
				  </div>  

				  <div class="field form-group">
				    <%= form.collection_select(:role_id, Role.all, :id, :name, :prompt => 'Select Role') %>
				  </div>		    

				  <div class="field form-group">
				    <%= form.collection_select(:user_id, User.all, :id, :fname, :prompt => 'Specify Supervisor') %>
				  </div>

				  <div class="field form-group" style ="padding-top: 10px">
				  	
				    <%= form.collection_select(:department_id, Department.all, :id, :name, :prompt => 'Specify Department') %>
				  </div>
			  </div>
		  </div>

		  <div class="modal-footer">
		    <%= form.submit "Add", :class => "btn btn-primary", :id => "signup_submit" %>
		  </div>

		<% end %>


	</div>

