<% if session[:user_id] == nil %>
  <% controller.flash.now.alert = "Please log in first!" %>
  <% controller.redirect_to "http://localhost:3000/login", alert: "Please log in first!" %>
<% end %>

<p id="notice"><%= notice %></p>

<h1>Users</h1>
<center>
<table class = "table-hover table-bordered table-condensed table" style="width: 95%">
  <thead>
    <tr>
      <th>Username</th>
      <th>Fname</th>
      <th>Lname</th>
      <th>Email</th>
      
      <th>Role</th>
      <th>Supervisor</th>
      <th>Department</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.fname %></td>
        <td><%= user.lname %></td>
        <td><%= user.email %></td>
        
        <td><%= Role.where("id = ?", user.role_id).pluck(:name).first %></td>
        <td><%= User.where("id = ?", user.user_id).pluck(:fname).first.to_s + " " + User.where("id = ?", user.user_id).pluck(:lname).first.to_s %></td>
        <td><%= Department.where("id = ?", user.department_id).pluck(:name).first %></td>
        <% link_to 'Show', user %>
        <td><%= link_to 'Edit', edit_user_path(user), { class: 'btn btn-primary'} %></td>
        <td><%= link_to 'Destroy', user, method: :delete, class: 'btn btn-primary', data: { confirm: 'Are you sure to delete this data?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</center>
<br>