<p id="notice"><%= notice %></p>

<h1>Documents</h1>
<%= form_tag(documents_path, method: :get) do %>
  <%= text_field_tag :subject, params[:subject] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>
<center>
<table class = "table-hover table-bordered table-condensed table" style="width: 95%">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Status</th>
      <th>Date created</th>
      <th>Time created</th>
      <th>Current Location</th>

      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.subject %></td>
        <td><%= document.status %></td>
        <td><%= document.date_created %></td>
        <td><%= document.time_created.strftime("%I:%M %p") %></td>
        <td></td>
        <td><% link_to 'Show', document %>
          <%= link_to 'Edit', document,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window-show-docs', class: 'btn btn-primary'}  %>
        </td>
        <% link_to 'Edit', edit_document_path(document) %>
        <td><%= link_to 'Destroy', document, :class => 'btn btn-primary', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>
  <div>
    <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @documents %>
    </div>
  </div>
    <div class="flickr_pagination">
        <%= will_paginate @documents, :container => false %>
    </div>
  </div>
</table>
</center>
<br>

<%= link_to 'New Document', new_document_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window-new-docs', class: 'btn btn-primary'} %>
