<% if User.where("id = ?", session[:user_id]).pluck(:role_id).first != 1 %>
  <% controller.redirect_to 'http://localhost:3000/documents' %>
<% end %>

<div class="container" style="margin-bottom:20px; padding: 3rem 0;">
<p id="notice"><%= notice %></p>
<h1>Roles</h1>
<div class="table-responsive">
<table class = "table-hover table-bordered table-condensed table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td><%= role.description %></td>
        
        <td><%= link_to 'Edit', edit_role_path(role), { class: ''} %></td>
        <td><%= link_to 'Destroy', role,  class: 'text-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= link_to 'New Role', new_role_path, class: 'btn btn-secondary' %>
</div>